<!DOCTYPE html>
<html>
<head>
	<title>Weather Locator</title>
	<link rel="icon" type="text/css" href="/images/weather.png">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">




	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<!-- Google Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
	<!-- Bootstrap core CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
	<!-- Material Design Bootstrap -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet">



</head>
<body>
	<center>
		<div class="main-content">
			{{>header}}
			<!-- Jumbotron -->
			<div class="jumbotron text-center" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
				<div class="view overlay my-4">
				<center>
				<img src="/images/me.jpg" class="img-fluid" alt="" width="300px">
				</center>
				<a href="#">
				<div class="mask rgba-white-slight"></div>
				</a>
				</div>
				<h5 class="indigo-text h5 mb-4"><u><h3><b>About</b></h3></u></h5>
				<p class="card-text">This is my mini-project I made during lockdown when I was getting bored. I made it using Node.js , Weatherstack API and Mapbox API.</p>
				<!-- Linkedin -->
				<a class="fa-lg p-2 m-2 li-ic" href="https://www.linkedin.com/in/divyansh-singh-8137201a2/"><i class="fab fa-linkedin-in grey-text"></i></a>
				<!-- Twitter -->
				<a class="fa-lg p-2 m-2 tw-ic" href="https://twitter.com/RgnDunes"><i class="fab fa-twitter grey-text"></i></a>
				<!-- Dribbble -->
				<a class="fa-lg p-2 m-2 fb-ic" href="https://www.instagram.com/divyansh8169/"><i class="fab fa-instagram grey-text"></i></a>
			</div>
			<!-- Jumbotron -->
		</div>
		
		{{>footer}}
	</center>


	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>



	<!-- JQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/js/mdb.min.js"></script>
	
</body>
</html>